.mob{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0 0 0 0.3);
    position: fixed;
    left: 0;
    top:0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 0px 29px 80px rgba(0 0 0 0.3);
    transition: all 0.3s ease;
    transform: translateX(-100vw);

}
.mob-nav{
    width: 60vw;
    height: 100vh;
    background-color: #3f2c7e;
    padding: 3rem;
    /* display: flex;
    align-items: center; */

}
.mob.active{
    opacity: 1;
    transform: translateX(0);
}
.mob h1{
    margin-bottom: 3rem;
    /* color: red; */
}
.mob-nav ul{ 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-left: -2rem;
   
}

@media screen and (max-width:769px) {
    .mob {
        display: block ;
    }
    
}